<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess Color</title>
    <link id="page_favicon" href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAraWcAPKiSQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIiIAAAAAACIiIiAAAAAAIgACIAAAAAAiAAAAAAAAACIAAAAAAAAAIgAAAAAAAREREAIgAAARERERIiAAABEAAhEiAAAAEQAAEQAAAAARABERAAAAABEAERAAAAAAEQAAAAAAAAARAAARAAAAABEREREAAAAAAREREAAAAAD4PwAA8B8AAPOfAADz/wAA8/8AAPP/AACBnwAAAB8AADg/AAA8/wAAMP8AADH/AAA//wAAPP8AAAD/AACB/wAA" rel="icon" type="image/x-icon">
    <style>
        body{
            width: 50%;
            margin: auto;
        }
        #color-div{
            width: 200px;
            height: 200px;
        }
        #new-color{
            width: 80%;
        }
    </style>
  </head>
  <body >
    <h1>Guess Your Color</h1>
    <form  action="placeholder" method="POST" id="myForm">

        <p>
            <label for="new-color">Enter a paragraph</label><br>
            <input type="text" id="new-color" name="colorinput" placeholder="eg: a blue sky at dusk" required/>
        </p>
        <p>
            <input type="submit" value="Calculate" />
        </p>
    </form>
    <hr>
    <div id="color-div" style="background: <%= color %>"></div>
    <script>
        const template = (input) => `/color?like=${input}`;
        document.getElementById('myForm').addEventListener('submit', function(s) {
        s.preventDefault();
        this.action = template(this.elements["colorinput"].value);
        this.submit();
        });
    </script>
  </body>
</html>